.meue-button{
    position: fixed;
    left :90% ; 
    color: white;
    font-size: 35px;
}

.meue-button:hover{
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1b435e;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    border-style: solid;
    border-color: #28597a;
  }
  
  .sidenav h4 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav h4:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .closebtn:hover{
    cursor: pointer;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }