.deposit-wraper{
    position: absolute;
    border-style: solid;
    width: 500px;
    left: 33%;
    top: 14%;
}
.deposit-wraper p { 
    margin-top: 0.1px;
}
.deposit-wraper button {
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    background-color: green;
    color: white;

}
.deposit-wraper button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: limegreen;
}
.deposit-wraper select , input {
    width: 80%;
    text-align: center;
}

.devider{
    position: relative ; 
    background-color: #7289da; 
    width: 90%;
    left: 5%;
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #2c2f33
}
