
 /* not in use   */

.notificatio-wraper{
    width: 20%;
    position: absolute;
    left: 80%;
    z-index: 1;
    /* background-color: SpringGreen   ; */
    /* background-color: Yellow   ; */
    /* background-color: #ff0000;  */
    /* background-color:DarkBlue ;  */
    /* border-bottom-right-radius:90%;
    border-top-right-radius: 90%; */
}
 /* not in use   */

.warning  {
    width: 20%;
    position: fixed;
    z-index: 1;
    background-color: Yellow   ;
    box-shadow: 5px 10px gray;
} 
.info {
    width: 20%;
    position: fixed;
    z-index: 1;
    background-color:DarkBlue ; 
    box-shadow: 5px 10px gray;
    color: white ; 
} 
.fail {
    width: 20%;
    position: fixed;
    left: 80%;
    z-index: 1;
    background-color: #ff0000; 
    box-shadow: 5px 10px gray;
} 
.sucsses {
    width: 20%;
    position: fixed;
    left: 80%;
    z-index: 1;
    background-color: SpringGreen   ;
    box-shadow: 5px 10px gray;
} 

.notificatio-wraper h4 {
position: absolute;
float: left;
}
.notificatio-wraper  p { 
    color: black;
 
}

.fadeOut .notificatio-wraper {
    width: 100%;
    /* background-color: SpringGreen  ; */
    opacity:0;
    transition: width 0.0s 0.0s, height 0.0s 0.0s, opacity 1.0s;
    box-shadow: 5px 10px gray;
}
.fadeIn .notificatio-wraper{
    width: 100%;
    /* background-color: SpringGreen  ; */
    opacity:1;
    transition: width 0.0s, height 0.0s, opacity 5.0s 1.0s;
    box-shadow: 5px 10px gray;
}

